<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scwang.appxadvert">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- 百度广告 -->
        <receiver android:name="com.baidu.appx.app_download.CompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                4
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.baidu.appx.uikit.BDActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>
